
.historyTable{
    max-width: 80%;
    width: 100%;
    background: #fff;
    padding-left: 40px;
    position: relative;
    top: 10px;
    th{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 700;
        color: #808080;
        padding-bottom: 20px;
        padding-top: 10px;
        
    }

    td{
        font-family: 'Inter';
        font-size: 15px;
        font-weight:700;
        text-align: center;
        padding-bottom: 20px;
        color: #000000;
    }
    &::before{
        content: "";
        width: 5px;
        height: 61px;
        background: #F89E20;
        border-radius: 20px;
        position: absolute;
        top: 19px;
        left: 20px;

    }
}

.imageOrder{
    position: absolute;
    top: 41px;
    right: 30px;
}

.block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    margin-top: 30px;
}
.number{
    width: 100px;
}
.city{
    width: 130px;
}
.delivery{
    width: 170px;
}
.date{
    width: 200px;
}
.priceOrdered{
    width: 200px;
}