.inputBlock{
    width: 100%;
    input{
        width: 100%;
       
        outline: none;
        border: none;
        color: #8B8B8B;
        font-size: 22px;
        background-color: #DBDBDB;
        border: 1px solid #7A7A7A;
        font-family: 'Roboto';
        border-radius: 20px;
        padding: 10px 0px;
        padding-left: 31px;
        margin-bottom: 20px;
    }

    input::placeholder{
        color: #8B8B8B;
        font-size: 22px;
        font-family: 'Roboto';
    }
}